.bold {
    font-weight: bold !important;
}

.no-bold{
    font-weight: normal !important;
}

.italic {
    font-style: italic !important;
}

.text-l{
    text-align: left !important;
}

.text-r{
    text-align: right !important;
}

.text-c{
    text-align: center !important;
}

.ts-18{
    font-size: 18px !important;
}

.ts-25{
    font-size: 25px !important;
}

.ellipse{
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}

.text-dec-none{
    text-decoration: none !important;
}

.rad-all-50p {
    border-radius: 50% !important;
}

.rad-b-0 {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.rad-t-15 {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.rad-all-15 {
    border-radius: 15px !important;
}

.rad-tr-15 {
    border-top-right-radius: 15px !important;
}

.rad-b-15 {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.rad-tl-15{
    border-top-left-radius: 15px !important;
}

.rad-bl-15{
    border-bottom-left-radius: 15px !important;
}

.rad-br-15{
    border-bottom-right-radius: 15px !important;
}

.rad-all-10 {
    border-radius: 10px !important;
}

.m-t-100p {
    margin-top: 100px !important;
}

.float-r{
    float: right !important;
}

.w-150p{
    width: 150px !important; 
}

.remove-bullet{
    list-style-type: none !important;
}

.br-word{
    white-space: nowrap !important; 
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.no-hover{
    text-decoration:none !important;
}

.pad-y-7{
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

.align-c{
    text-align-last:center !important;
}

/*.disabled {
    pointer-events: none;
    cursor: default;
}/*/

.b-35{
    bottom: 35px !important;
}