.bold {
    font-weight: bold !important;
}

.no-bold{
    font-weight: normal !important;
}

.italic {
    font-style: italic !important;
}

.text-r{
    text-align: right;
}

.text-c{
    text-align: center;
}

.ts-25{
    font-size: 25px;
}

.rad-all-50p {
    border-radius: 50% !important;
}

.rad-b-0 {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.rad-t-15 {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.rad-all-15 {
    border-radius: 15px !important;
}

.rad-tr-15 {
    border-top-right-radius: 15px !important;
}

.rad-b-15 {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.rad-tl-15{
    border-top-left-radius: 15px !important;
}

.rad-bl-15{
    border-bottom-left-radius: 15px !important;
}

.rad-br-15{
    border-bottom-right-radius: 15px !important;
}

.m-b-100p {
    margin-top: 100px !important;
}

.float-r{
    float: right;
}

.w-150p{
    width: 150px; 
}

.remove-bullet{
    list-style-type: none;
}

.br-word{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-hover{
    text-decoration:none !important;
}

.pad-y-7{
    padding-top: 7px;
    padding-bottom: 7px;
}

.align-c{
    text-align-last:center;
}