.bg-color-1 {
    background-color: #333333 !important;
}

.bg-color-2 {
    background-color: #11CDD9 !important;
}

.bg-color-3 {
    background-color: #000000 !important;
}

.bg-color-4 {
    background-color: #3A9B0D !important;
}

.bg-color-5 {
    background-color: #D26A09 !important;
}

.bg-color-6{
    background-color: #D22109 !important;
}

.bg-color-7{
    background-color: #005ce6 !important;
}

.text-color-1 {
    color: #333333 !important;
}

.text-color-2 {
    color: #11CDD9 !important;
}

.text-color-3 {
    color: #000000 !important;
}

.text-color-4 {
    color: #D22109 !important;
}

.text-color-5 {
    color: #3A9B0D !important;
}

.text-color-6 {
    color: #D26A09 !important;
}

.text-color-7 {
    color: #FFFFFF !important;
}

.sel-color-1{
    background: #11CDD9;
    border:0px;
}

.sel-color-2{
    background: #333333;
    border:0px;
}

.pol-color-1 {
    fill: #000000;
}

.bord-b-1-sol-color-1{
    border-bottom: 1px solid #E35201 !important;
}

.bord-b-1-sol-color-2{
    border-bottom: 1px solid #11CDD9 !important;
} 

.bord-y-1-sol-color-2{
    border-bottom: 1px solid #11CDD9 !important;
    border-top: 1px solid #11CDD9 !important;
} 

.bord-all-1-sol-color-2{
    border: 1px solid #11CDD9 !important;
} 

.bord-all-5-sol-color-2{
    border: 5px solid #11CDD9 !important;
} 

.bord-b-2-sol-color-3{
    border-bottom: 2px solid #000000 !important;
} 

.bord-t-2-sol-color-3{
    border-top: 2px solid #000000 !important;
} 

.bord-b-2-sol-color-4{
    border-bottom: 2px solid #333333 !important;
} 

.bord-t-0{
    border-top: none !important;
}

.bord-color-1{
    border-color: #000000 !important;
} 

.scroll-type-1 {
    scrollbar-color: #11CDD9 #333333 !important;
}

.tr-list-1:hover {
    background-color:#000000;
}

.tr-list-2:hover {
    background-color:#333333;
    border-left: 2px solid #000000 !important;
    border-right: 2px solid #000000 !important;
}

.tr-list-3:hover {
    background-color:#333333;
}

.btn-on-img:hover {
    background-color: #11CDD9 !important;
    color: #000000 !important;
}