.bg-color-1 {
    background-color: #333333 !important;
}

.bg-color-2 {
    background-color: #11CDD9 !important;
}

.bg-color-3 {
    background-color: #000000 !important;
}

.bg-color-4 {
    background-color: #3A9B0D !important;
}

.bg-color-5 {
    background-color: #D26A09 !important;
}

.text-color-1 {
    color: #333333 !important;
}

.text-color-2 {
    color: #11CDD9 !important;
}

.text-color-3 {
    color: #000000 !important;
}

.text-color-4 {
    color: #D22109 !important;
}

.text-color-5 {
    color: #3A9B0D !important;
}

.text-color-6 {
    color: #D26A09 !important;
}

.sel-color-1{
    background: #11CDD9;
    border:0px;
}

.sel-color-2{
    background: #333333;
    border:0px;
}

.pol-color-1 {
    fill: #000000;
}